<div class="containerPage">

  <nav class="nav">  
      <div class="logoNav">  
        <a href="/"><img src="/images/kikundi-logo-white.png"></a>
      </div>
      <ul class="navList">
        <li><a href="/search-tribes">Search tribes</a></li>
        <li><a href="/create-new-tribe">Create new tribe</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
  </nav>


<h2>{{group.name}}</h2>
<p>Name: {{group.name}}</p>
<p>Admin: {{group.leader.username}}</p>
<p>Service: {{group.service.name}}</p>
<p>Free Place: {{group.freePlace}}</p>
<p>Price Person: {{group.pricePerson}}€</p>
<p>Description: {{group.description}}</p>



{{#is user 'none'}}
  <div id="request-{{group.id}}">
    <button onclick="sendRequest(`/sendRequest/{{group.id}}`, `{{group.id}}`)" type="button" data-address=>Send Request</button>
  </div>
{{/is}}

{{#is user 'Member'}}

  <h2 id="members-headline">Members:</h2>


  {{#each belong}}
    <p>Name: {{idUser.username}}</p>
  {{/each}}

{{/is}}

{{#is user 'Admin'}}
  
  <h2>Members:</h2>
  {{#each belong}}
   <p>Name: {{idUser.username}}</p>
    <form action="/removeMember/{{this.id}}/{{idGrupo._id}}" method="post">
      <button type="submit">Remove Member</button>
    </form>
  {{/each}}



  <h2 id="request-headline">Requests:</h2>

  {{#each notifications}}

    <p>From: {{idUserFrom.username}}</p>
    <form action="/addMember/{{idUserFrom.id}}/{{idGroup.id}}/{{this.id}}/{{idGroup.service}}" method="post">
      <button type="submit">Add to group</button>
    </form>
    <form action="/declineMember/{{this.id}}" method="post">
      <button type="submit">Decline request</button>
    </form>
  {{/each}}

  <br><br>

  <form action="/deleteGroup/{{group.id}}" method="post">
    <button type="submit">Delete group</button>
  </form>

{{/is}}

</div>

<script>
  
  /*function removeMember(postURL, id, freePlace){
    axios
      .post(postURL)
      .then(removedMemberInfo => {
        console.log(freePlace);
        document.getElementById("member-" + id).style.display = "none"
        document.getElementById("").innerHTML = freePlace + 1
      })
  }*/


  function sendRequest(postURL, id){
    axios
      .post(postURL)
      .then(sendRequestInfo => {
        document.getElementById("request-" + id).style.display = "none"
      })
  }


</script>