<h2>Tribe page</h2>
<p>Name: {{group.name}}</p>
<p>Admin: {{group.leader.username}}</p>
<p>Service: {{group.service.name}}</p>
<p>Free Place: {{group.freePlace}}</p>
<p>Price Person: {{group.pricePerson}}€</p>
<p>Description: {{group.description}}</p>

<h2>Belong:</h2>
{{#each belong}}
  <p>{{idUser.username}}</p>
  <p>{{idUser._id}}</p>
  <p>{{idRole}}</p>
{{/each}}
<h2>Payments:</h2>
{{#each payments}}
    <p>{{idUser._id}}</p>
    <p>{{status}}</p>
    <p>{{quota}}</p>
    {{#is status 'Pending'}}
      <a href="/payments/execute/{{_id}}">Execute</a>
    {{/is}}
{{/each}}  

{{#is user 'none'}}
  <form action="/sendRequest/{{group.id}}" method="post">
    <button type="submit">Send Request</button>
  </form>
{{/is}}

{{#is user 'Member'}}
<h2>Member:</h2>
  {{#each belong}}
    <p>Name: {{idUser.username}}</p>
  {{/each}}
{{/is}}

{{#is user 'Admin'}}
  <h2>Members:</h2>
  {{#each belong}}
    <div>
      <p>Name: {{idUser.username}}</p>
      <form action="/removeMember/{{this.id}}/{{this.idGrupo}}" method="post">
        <button type="submit">Remove Member</button>
      </form>
      {{!-- <div style="display:none">
        <input type="text" id="belongId" value="{{this.id}}">
        <input type="text" id="grupoId" value="{{this.idGrupo}}">
      </div>
      <button id="removeMember">Remove Member</button> --}}
    </div>
  {{/each}}

  <h2>Requests:</h2>
  {{#each notifications}}
    <p>From: {{idUserFrom.username}}</p>
    <form action="/addMember/{{idUserFrom.id}}/{{idGroup.id}}/{{this.id}}" method="post">
      <button type="submit">Add to group</button>
    </form>
    <form action="/declineMember/{{this.id}}" method="post">
      <button type="submit">Decline request</button>
    </form>
  {{/each}}

  <br><br>

  <form action="/deleteGroup/{{group.id}}" method="post">
    <button type="submit">Delete group</button>
  </form>

{{/is}}