<h2>Tribe page</h2>
<p>Name: {{name}}</p>
<p>Admin: {{leader.username}}</p>
<p>Service: {{service.name}}</p>
<p>Free Place: {{freePlace}}</p>
<p>Price Person: {{pricePerson}}€</p>
<p>Description: {{description}}</p>
<form action="/sendRequest/{{id}}" method="post">
  <button type="submit">Send Request</button>
</form>