<div class="containerPage">

  <nav class="nav">  
      <div class="logoNav">  
        <a href="/"><img src="/images/kikundi-logo-white.png"></a>
      </div>
      <ul class="navList">
        <li><a href="/search-tribes">Search tribes</a></li>
        <li><a href="/create-new-tribe">Create new tribe</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
  </nav>

  <div class="groupPage">

    <div class="leftPartGroup">
      <div class="groupImg">
        <img src="{{group.service.picture}}" alt="group image">
      </div>
      <div class="groupInfo">
        <p><span>name group:</span> {{group.name}}</p>
        <p><span>group admin:</span> {{group.leader.username}}</p>
        <p><span>service:</span> {{group.service.name}}</p>
        <p><span>free Place:</span> {{group.freePlace}}</p>
        <p><span>monthly fee:</span> {{group.pricePerson}}€</p>
        <p><span>description:</span> {{group.description}}</p>
      </div>
    </div>


    <div class="rightPartGroup">

      {{#is user 'none'}}
        {{!-- <div id="request-{{group.id}}" class="requestButton">
          <button onclick="sendRequest(`/sendRequest/{{group.id}}`, `{{group.id}}`)" type="button" data-address=>send request</button>
        </div> --}}
        {{!-- {{#if message }}
          <div class="sendMessage">{{ message }}</div>
        {{/if}} --}}
        <div class="requestGroup">
          <form class="requestButton" action="/sendRequest/{{group.id}}" method="post">
            <button type="submit">send request</button>
          </form>
        </div>

      {{/is}}

      {{#is user 'Member'}}
        <div class="memberGroup">
          <div class="memberGroupTitle">  
            <h2>Payments:</h2>
          </div>
          {{#each payments}}
            <div class="memberGroupPayment">
              <p><span>username:</span>{{idUser.username}}</p>
              <p><span>payment status:</span>{{status}}</p>
              <p><span>monthly fee:</span>{{quota}}€</p>
              {{#is status 'Pending'}}
                <a href="/payments/execute/{{_id}}">execute payment</a>
              {{/is}}
              {{#is status 'Completed'}}
                <a href="{{invoice}}">paid bill</a>
              {{/is}}
            </div>  
          {{/each}}
        </div> 
      {{/is}}


      {{#is user 'Admin'}}
        <div class="memberGroup">
          <div class="memberGroupTitle">
            <h2>Payments:</h2>
          </div>  
          {{#each payments}}
            <div class="memberGroupPayment">
              <p><span>username:</span> {{idUser.username}}</p>
              <p><span>payment status:</span> {{status}}</p>
              <p><span>monthly fee:</span> {{quota}}€</p>
            </div>  
          {{/each}} 
        </div>

        {{#empty belong}}
        {{else}}
          <div class="memberGroup">
            <div class="memberGroupTitle">  
              <h2>Members:</h2>
            </div>
          {{#each belong}}
            <div class="memberGroupPayment">
              <p><span>username:</span> {{idUser.username}}</p>
              <form action="/removeMember/{{this.id}}/{{idGrupo._id}}" method="post">
                <button type="submit">remove member</button>
              </form>
            </div>
          {{/each}}
          </div>
        {{/empty}}

        {{#empty notifications}}
        {{else}}
          <div class="memberGroup">
            <div class="memberGroupTitle">
              <h2>Requests:</h2>
            </div>  
            {{#each notifications}}
            <div class="memberGroupPayment">
                <p><span>from:</span> {{idUserFrom.username}}</p>
                <div class="memberGroupRequest">
                  <form action="/addMember/{{idUserFrom.id}}/{{idGroup.id}}/{{this.id}}/{{idGroup.service}}" method="post">
                    <button type="submit">add to group</button>
                  </form>
                  <form action="/declineMember/{{this.id}}" method="post">
                    <button type="submit">decline request</button>
                  </form>
                </div>
            </div>
          {{/each}}
          </div>
        {{/empty}}

        <form class="formGroup" action="/deleteGroup/{{group.id}}" method="post">
          <button class="btn btnLogin" type="submit">Delete group</button>
        </form>

      {{/is}}
      </div>
    </div>
</div>

<script>
  
  /*function removeMember(postURL, id, freePlace){
    axios
      .post(postURL)
      .then(removedMemberInfo => {
        console.log(freePlace);
        document.getElementById("member-" + id).style.display = "none"
        document.getElementById("").innerHTML = freePlace + 1
      })
  }*/


  function sendRequest(postURL, id){
    axios
      .post(postURL)
      .then(sendRequestInfo => {
        document.getElementById("request-" + id).style.display = "none"
      })
  }


</script>
