<h3>You are {{username}}</h3>
<h2>Search tribes</h2>
<ul>
  {{#each groups}}
    <li>
        <p>Name: {{this.name}}</p>
        <p>Admin: {{this.leader.username}}</p>
        <p>Service: {{this.service.name}}</p>
        <p>Free Place: {{this.freePlace}}</p>
        <form action="/group/{{this.id}}" method="post">
          <button type="submit">Group information</button> 
        </form>
    </li>
  {{/each}}
</ul> 